{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "4.1.1"
                },
                "debug": false
            }
        ]
    ]
}
